<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <h1 class='p-2 m-3'>Student data</h1>
    
<table class="table table-hover table-striped">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Skills</th>
    </tr>
{% for i in stu %}
    <tr>
        <td>{{i.id}}</td>
        <td><a href='{% url 'info' i.id %}'>{{i.name}}</a></td>
        <td><a href='{% url 'contact' i.id %}'>view</a></td>
        <td><a href='{% url 'skill' i.id %}'>view</a></td>
    </tr>
{% endfor %}
</table>    

{% endblock body %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
